<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="core.css" />
    <title>About the Website</title>
    <style>
      h2 {
        color: red;
        margin: 5vh auto;
      }
      #paragraph {
        text-align: center;
        padding: 1vh 1vw;
      }
      .section {
        margin-left: 10vh;
      }
      .items {
        margin-top: 3vh;
      }
      .marp {
        padding-top: 2vh;
      }
      .marb {
        padding-bottom: 2vh;
      }
      #ordered-list {
        list-style-type: square;
      }
      .bold {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <!-- Navbar of Website -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html">Placement Prep Tracker</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="About.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Content
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="dsa.html">DSA</a>
              <a class="dropdown-item" href="web.html">Web Development</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="core.html">Core Subjects</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
            Search
          </button>
          <div class="mx-2">
            <button type="button" class="btn btn-danger" mx-2>
              <a href="login.html" style="color: white">LogIn</a>
            </button>
            <button type="button" class="btn btn-danger" mx-2>
              <a href="signUp.html" style="color: white">Signup</a>
            </button>
          </div>
        </form>
      </div>
    </nav>

    <h2 class="text-center">About the Website Placement Preparation Tracker</h2>
    <p id="paragraph">
      Our Website Preparation Tracker wants to be simple is an initiative to
      help the upcoming students with the Quality content at a single place.
      Preparation Tracker focuses on providing the most widely followed content
      and quality Programming questions. We will help Students in build up their
      concepts that include
      <strong>
        HTML, CSS, Bootstrap, JavaScript, React, Core Subjects, Data Structure
        and Algorithm.</strong
      >
    </p>
    <div class="section">
      <h3 class="">Our Website Preparation Tracker contents are :-</h3>
      <div class="items">
        <li class="marp">Data Structures and Algorithms</li>
        <ol id="ordered-list">
          <li>All Data structure topics Covered with Practice Problems</li>
        </ol>
        <li>Web Development</li>
        <ol>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>Bootstrap</li>
          <li>React</li>
          <li>Node js</li>
          <li>Django</li>
          <li>PHP</li>
          <li>Express Js</li>
        </ol>
        <li>Core Subject Contents</li>
        <ol>
          <li>DBMS</li>
          <li>Computer Networks</li>
          <li>Operating System</li>
          <li>Software Engineering</li>
          <li>Object Oriented Programming Concepts</li>
        </ol>
        <li>Miscellaneous Content</li>
        <ol class="marb">
          <li>Elitmus Preparation Content</li>
          <li>Cpp- Buzz</li>
        </ol>
      </div>
      <p class="bold">For Doubt Support we have Chat bot</p>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
