<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="core.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Core Subjects</title>
  </head>
  <body>
    <!-- Navigation Bar the Website -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Placement Prep Tracker</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Content
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/dsa">DSA</a>
              <a class="dropdown-item" href="/web">Web Development</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/core">Core Subjects</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          
          <div class="mx-2">
            
              <% if(!session.loggedIn) {%>
                <button type="button" class="btn btn-danger" mx-2>
              <a href="/login" style="color: white">LogIn</a>
            </button>
              <% } else { %>
                <strong><span class="text-light">Hi <%= username+" " %></span></strong> 
              <% } %>
              <% if(!session.loggedIn) { %>
                <button type="button" class="btn btn-danger" mx-2>
              <a href="/signUp" style="color: white" ;>Signup</a>
            </button>
              <% } else { %>
                <form action="/logout?_method=DELETE" method="POST">
                  <button class="btn btn-danger ml-1" mx-2 type="submit">Log Out</button>
              </form>
            <% } %>
          </div>
        </form>
      </div>
    </nav>

    
<h2 class="text-center" id="main-heading">Important Core Subjects</h2>
    <div class="container">
      <!-- Item1 Div -->
      <div class="item1 items">
        <h2 class="text-center mar">DBMS</h2>
        <div class="para">
          <p style="margin-left: 2vh">
            A database management system (or DBMS) is essentially nothing more
            than a computerized data-keeping system.
          </p>
        </div>
        <div class="item1-1">
          <div class="buttons">
            <a
              class="btn btn-primary"
              href="https://www.javatpoint.com/dbms-tutorial"
              target="_blank"
            >
              Learn Online</a
            >
            <a
              class="btn btn-danger"
              href="https://ldrp.ac.in/images/syllabus/BE-Computer/CE305%20-%20Database%20Management%20Systems.pdf"
              target="_blank"
            >
              Syllabus</a
            >
            <a
              class="btn btn-success"
              href="https://mrcet.com/downloads/digital_notes/ECE/III%20Year/DATABASE%20MANAGEMENT%20SYSTEMS.pdf"
              target="_blank"
            >
              Download Pdf</a
            >
          </div>
          <div class="img1">
            <img
              id="img1"
              src="db.jpg"
              alt="Error 404"
              height="150vh"
              width="150vh"
            />
          </div>
        </div>
      </div>

      <div class="item2 items">
        <h2 class="text-center mar">Computer Networks</h2>
        <div class="para">
          <p style="margin-left: 2vh">
            A computer network is a set of computers sharing resources located
            on or provided by network nodes. Computers use common communication
            protocols over ...
          </p>
        </div>
        <div class="item1-1">
          <div class="buttons">
            <a
              class="btn btn-primary"
              href="https://www.javatpoint.com/computer-network-tutorial"
              target="_blank"
            >
              Learn Online</a
            >
            <a
              class="btn btn-danger"
              href="https://mlrit.ac.in/wp-content/uploads/files/CSE/MLR-17/COMPUTER%20NETWORKS.pdf"
              target="_blank"
            >
              Syllabus</a
            >
            <a
              class="btn btn-success"
              href="https://kanchiuniv.ac.in/coursematerials/VINODKUMAR_COMPUTER_NETWORKS.pdf"
              target="_blank"
            >
              Download Pdf</a
            >
          </div>
          <div class="img1">
            <img
              id="img1"
              src="cn.png"
              alt="Error 404"
              height="150vh"
              width="150vh"
            />
          </div>
        </div>
      </div>

      <!-- Item3 Div -->
      <div class="item3 items">
        <h2 class="text-center mar">Operating System</h2>
        <div class="para">
          <p style="margin-left: 2vh">
            An operating system (OS) is the program that, after being initially
            loaded into the computer by a boot program, manages all of the other
            application programs in a computer.
          </p>
        </div>
        <div class="item1-1">
          <div class="buttons">
            <a
              class="btn btn-primary"
              href="https://www.tutorialspoint.com/operating_system/os_overview.htm"
              target="_blank"
            >
              Learn Online</a
            >
            <a
              class="btn btn-danger"
              href="https://www.rgpvonline.com/syllabus/rgpv-syllabus-grading-cs-502-operating-system.pdf"
              target="_blank"
            >
              Syllabus</a
            >
            <a
              class="btn btn-success"
              href="https://mrcet.com/downloads/digital_notes/CSE/II%20Year/OPERATING%20SYSTEMS%20%20NOTES%20R18.pdf"
              target="_blank"
            >
              Download Pdf</a
            >
          </div>
          <div class="img1">
            <img
              id="img1"
              src="os.jpg"
              alt="Error 404"
              height="150vh"
              width="150vh"
            />
          </div>
        </div>
      </div>

      <!-- Item-4 Div -->
      <div class="item4 items">
        <h2 class="text-center mar">Software Engineering</h2>
        <div class="para">
          <p style="margin-left: 2vh">
            Software engineering is a detailed study of engineering to the
            design, development and maintenance of software.
          </p>
        </div>
        <div class="item1-1">
          <div class="buttons">
            <a
              class="btn btn-primary"
              href="https://www.tutorialspoint.com/software_engineering/index.htm"
              target="_blank"
            >
              Learn Online</a
            >
            <a
              class="btn btn-danger"
              href="https://www.rgpvonline.com/syllabus/rgpv-syllabus-grading-cs-603-software-engineering-and-project-management-sepm.pdf"
              target="_blank"
            >
              Syllabus</a
            >
            <a
              class="btn btn-success"
              href="https://drive.google.com/file/d/1HwrBaCUS-sf2JvJCtpF_V7wTyCnmEW2-/view"
              role="button"
              target="_blank"
            >
              Download Pdf</a
            >
          </div>
          <div class="img1">
            <img
              id="img1"
              src="soft.png"
              alt="Error 404"
              height="150vh"
              width="150vh"
            />
          </div>
        </div>
      </div>

      <!-- Item5 Div -->
      <div class="item5 items">
        <h2 class="text-center mar">OOPS</h2>
        <div class="para">
          <p style="margin-left: 2vh">
            Object means a real-world entity such as a pen, chair, table,
            computer, watch, etc. Object-Oriented Programming is a methodology
            or paradigm to design a program using classes and objects.
          </p>
        </div>
        <div class="item1-1">
          <div class="buttons">
            <a
              class="btn btn-primary"
              href="https://profile.w3schools.com/log-in?redirect_url=https%3A%2F%2Fwww.w3schools.com%2Fcpp%2Fcpp_oop.asp"
              target="_blank"
            >
              Learn Online</a
            >
            <a
              class="btn btn-danger"
              href="https://www.rgpvonline.com/syllabus/rgpv-syllabus-cbgs-it-3004-object-oriented-programming-and-methodology.pdf"
              target="_blank"
            >
              Syllabus</a
            >
            <a
              class="btn btn-success"
              href="https://www.cet.edu.in/noticefiles/285_OOPS%20lecture%20notes%20Complete.pdf"
              target="_blank"
            >
              Download Pdf</a
            >
          </div>
          <div class="img1">
            <img
              id="img1"
              src="oops.jpg"
              alt="Error 404"
              height="150vh"
              width="150vh"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.tidio.co/ujdmaultfhv63pdv3y9wcmyumgk6vddl.js"
      async
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
