<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Web Development</title>
    <link rel="stylesheet" href="web.css">
  </head>
  <body>
    <!-- Navigation Bar the Website -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Placement Prep Tracker</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="/"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Content
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/dsa">DSA</a>
              <a class="dropdown-item" href="/web">Web Development</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/core">Core Subjects</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/logout?_method=DELETE" method="POST">
          
          <div class="mx-2">
            
              <% if(!session.loggedIn) {%>
                <button type="button" class="btn btn-danger" mx-2>
              <a href="/login" style="color: white">LogIn</a>
            </button>
              <% } else { %>
                <strong><span class="text-light">Hi <%= username+" " %></span></strong> 
              <% } %>
              <% if(!session.loggedIn) { %>
                <button type="button" class="btn btn-danger" mx-2>
              <a href="/signUp" style="color: white" ;>Signup</a>
            </button>
              <% } else { %>
                  <button class="btn btn-danger ml-1" mx-2 type="submit">Log Out</button>
            <% } %>
          </div>
        </form>
      </div>
    </nav>

    <div class="container">
      <h2 class="text-center">Frontend</h2>
      <!-- HTML -->
  
        <div class="items item1">
          <a href="https://www.w3schools.com/html/default.asp" target="_blank"><h2 class="text-center">HTML</h2></a>
          
        </div>
        
        <!-- CSS -->
        <div class="items item2">
        <a href="https://www.w3schools.com/css/default.asp" target="_blank"><h2 class="text-center">CSS</h2></a>
      </div>
      
      <div class="items item3">
        <a href="https://www.w3schools.com/js/default.asp" target="_blank"><h2 class="text-center">Javasrcipt</h2></a>
      </div>
      
      <div class="items item4">
        <a href="https://www.w3schools.com/bootstrap/bootstrap_ver.asp" target="_blank"><h2 class="text-center">Bootstrap</h2></a>
      </div>

      <div class="items item5">
        <a href="https://react.dev/learn" target="_blank"><h2 class="text-center">React</h2></a>
      </div>
    </div>
   
  

  <div class="container">
   <h2 class="text-center">Backend</h2>
    <div class="backend">
      <div class="items item6">
      <a href="https://nodejs.dev/en/learn/" target="_blank"><h2 class="text-center">Node Js</h2></a>
    </div>
    <div class="items item7">
      <a href="https://buildmedia.readthedocs.org/media/pdf/django/3.2.x/django.pdf" target="_blank"><h2 class="text-center">Django</h2></a>
    </div>
    <div class="items item8">
      <a href="https://www.w3schools.com/php/" target="_blank"><h2 class="text-center">PHP</h2></a>
    </div>
    <div class="items item9">
      <a href="https://www.codecademy.com/learn/learn-express" target="_blank"><h2 class="text-center">Express Js</h2></a>
    </div>
  </div>
</div>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.tidio.co/ujdmaultfhv63pdv3y9wcmyumgk6vddl.js"
      async
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
